@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1"></li>
        <li data-target="#my-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <video controls="controls"
           src="~/MID/%e9%99%b3%e5%86%a0%e5%b8%8c%e3%80%8a%e5%8f%88%e5%8e%bb%e7%b4%84%e7%a0%b2%20%e3%80%8b%e7%b4%84%e7%a0%b2%e6%ad%8c-20160606.mp4" type="video/mp4" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <video controls="controls"
       src="~/MID/%e5%91%a8%e6%9d%b0%e5%80%ab%20Jay%20Chou%e3%80%90%e5%ba%8a%e9%82%8a%e6%95%85%e4%ba%8b%20Bedtime%20Stories%e3%80%91Official%20MV%20%e5%ae%8c%e6%95%b4%e7%89%88.mp4" type="video/mp4" />
            
            <div class="carousel-caption">
                <h3>Caption heading 2</h3>
            </div>
     
                <p>Suspendisse ullamcorper massa eget eleifend iaculis.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


