@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<video controls="controls">
    <source src="~/MID/%e9%99%b3%e5%86%a0%e5%b8%8c%e3%80%8a%e5%8f%88%e5%8e%bb%e7%b4%84%e7%a0%b2%20%e3%80%8b%e7%b4%84%e7%a0%b2%e6%ad%8c-20160606.mp4" type="video/mp4" />
</video>